Influencer_Finder.json
{
  "name": "Influencer Finder",
  "nodes": [
    {
      "parameters": {
        "formTitle": "InfluencerFinder",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Hashtag",
              "placeholder": "오오티디",
              "requiredField": true
            },
            {
              "fieldLabel": "MinFollower",
              "fieldType": "number",
              "placeholder": "500",
              "requiredField": true
            },
            {
              "fieldLabel": "MaxFollower",
              "fieldType": "number",
              "placeholder": "20000",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -6352,
        672
      ],
      "id": "2d1b67c4-4f4b-4e93-aa2c-2c40c4de2b5c",
      "name": "On form submission",
      "webhookId": "2dbeeab2-7e5d-4e9d-b9d8-56e444c25ba3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4016,
        848
      ],
      "id": "2918da97-911e-4ff5-96e2-f50ddc280228",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "vhb8mOyWWRrLq5Ra",
          "name": "NanoBanana-Test"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Change ImageURL To Image').item.json.Username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3920,
        848
      ],
      "id": "abb4e62d-00bf-444c-9179-17da26949dcb",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2080,
        816
      ],
      "id": "88ddb828-3c80-42e5-ac67-65242fbf08e9",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "vhb8mOyWWRrLq5Ra",
          "name": "NanoBanana-Test"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Is TargetFollowers?').item.json.Username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1984,
        816
      ],
      "id": "1a8a7728-5d0e-4558-81e3-cd88eda1ea12",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Vux-NDgiQ1OEfAoZANbkImw_DDVnqpzqZrhB8ABjEiY/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MYk1xYA0g6q82G8KYM6dxlL521Phg8vjDZAsd3-FCLU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "사용자 ID": "={{ $json.username }}",
            "팔로워 수": "={{ $json.followers }}",
            "링크": "={{ $json.profileURL }}",
            "타입": "={{ $json.type }}",
            "해시 태그": "={{ $json.hashtag }}",
            "평균 View": "={{ $json.averagePlayCount }}",
            "평균 Commnets": "={{ $json.avgCommentCount }}",
            "최대 View": "={{ $json.maxPlayCount }}",
            "최소 View": "={{ $json.minPlayCount }}",
            "최대 Commnets": "={{ $json.maxCommentCount }}",
            "최소 Comments": "={{ $json.minCommentCount }}"
          },
          "matchingColumns": [
            "사용자 ID"
          ],
          "schema": [
            {
              "id": "해시 태그",
              "displayName": "해시 태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "사용자 ID",
              "displayName": "사용자 ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "팔로워 수",
              "displayName": "팔로워 수",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "링크",
              "displayName": "링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "타입",
              "displayName": "타입",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "최소 View",
              "displayName": "최소 View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "최대 View",
              "displayName": "최대 View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "평균 View",
              "displayName": "평균 View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "최소 Comments",
              "displayName": "최소 Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "최대 Commnets",
              "displayName": "최대 Commnets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "평균 Commnets",
              "displayName": "평균 Commnets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        0
      ],
      "id": "bd4b9516-6ec6-4f31-ad74-04cdc9907eef",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5608343-ae30-4416-b1cb-1843e40efb09",
              "name": "Username",
              "value": "={{ $json.ownerUsername }}",
              "type": "string"
            },
            {
              "id": "9627442d-66f0-485f-af39-87b26ddb4b44",
              "name": "ImageURL",
              "value": "={{ $json.displayUrl }}",
              "type": "string"
            },
            {
              "id": "50a68dec-b25e-4d97-825d-7bb50b08285a",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "99cfbb43-5b08-49a1-a071-8a92b9c43409",
              "name": "Hashtag",
              "value": "={{ $('On form submission').all()[0].json.Hashtag }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5904,
        672
      ],
      "id": "7fcaeb7d-aa86-4f33-9fe4-306fd448c130",
      "name": "Set Hashtag Scraper Data"
    },
    {
      "parameters": {
        "url": "={{ $json.ImageURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4256,
        656
      ],
      "id": "5f5c424e-0926-4d88-b0fa-012383886f85",
      "name": "Change ImageURL To Image",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $('On form submission').all()[0].json.submittedAt }}",
            "검색된 릴스": "={{ $input.all().length }}"
          },
          "matchingColumns": [
            "Time"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "검색 해시태그",
              "displayName": "검색 해시태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 팔로워",
              "displayName": "조건 팔로워",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 게시물 ",
              "displayName": "검색된 게시물 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 릴스",
              "displayName": "검색된 릴스",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "조건 통과된 계정",
              "displayName": "조건 통과된 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "평균 조회수 6000이상 계정",
              "displayName": "평균 조회수 6000이상 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "API Price",
              "displayName": "API Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5280,
        464
      ],
      "id": "fea19a4f-3aad-4e4b-bbd2-9ecf84374894",
      "name": "Append Row HashtagCategory_2",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $('On form submission').all()[0].json.submittedAt }}",
            "검색된 게시물 ": "={{ $input.all().length }}",
            "API Price": "={{ $input.all().length * 0.0023}}"
          },
          "matchingColumns": [
            "Time"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "검색 해시태그",
              "displayName": "검색 해시태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 팔로워",
              "displayName": "조건 팔로워",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 게시물 ",
              "displayName": "검색된 게시물 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "검색된 릴스",
              "displayName": "검색된 릴스",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 통과된 계정",
              "displayName": "조건 통과된 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "평균 조회수 6000이상 계정",
              "displayName": "평균 조회수 6000이상 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "API Price",
              "displayName": "API Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5504,
        464
      ],
      "id": "eb782f24-7302-4c4b-aef9-7b6825ff1d5e",
      "name": "Append Row HashtagCategory_1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c55bd096-8052-4963-a8af-2c25633e8074",
              "leftValue": "={{ $json.gender }}",
              "rightValue": "female",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "99c64979-96df-4e9c-92c4-ec7871c60d9d",
              "leftValue": "={{ $json.gender_confidence }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1a2222b0-21a6-4c65-9fb7-405ca839307d",
              "leftValue": "={{ $json.age_range }}",
              "rightValue": "10s",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3472,
        656
      ],
      "id": "064a96f5-1a21-46e5-a963-385cb8426041",
      "name": "Is Female TargetAge?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f3c45d5-e595-4708-92aa-d4a3da262cd5",
              "name": "Username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "210e3b66-1548-428b-9220-d2eb777588a9",
              "name": "Bio",
              "value": "={{ $json.biography }}",
              "type": "string"
            },
            {
              "id": "05dea707-4a2f-4f75-9f5b-df1872e81cb0",
              "name": "Followers",
              "value": "={{ $json.followersCount }}",
              "type": "number"
            },
            {
              "id": "d06228f8-f5cc-4e9c-8926-94a85cf19003",
              "name": "ProfileURL",
              "value": "={{ $json.inputUrl }}",
              "type": "string"
            },
            {
              "id": "35744dcb-f4b5-497b-8d4e-d11a9212ed11",
              "name": "BusinessCategoryName",
              "value": "={{ $json.businessCategoryName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        640
      ],
      "id": "61a57dee-ddcf-4eee-8681-7ee3f0fcb14b",
      "name": "Set Profile Scraper Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91689a80-4e27-4fbe-87bc-14f32ef77c6d",
              "leftValue": "={{ $json.Followers }}",
              "rightValue": "={{ $('On form submission').all()[0].json.MinFollower }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "5f5016d0-9810-4dfd-819e-af3b70fd446c",
              "leftValue": "={{ $json.Followers }}",
              "rightValue": "={{ $('On form submission').all()[0].json.MaxFollower }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2384,
        640
      ],
      "id": "1b7a1527-a523-4507-bd4d-e8777a9876f5",
      "name": "Is TargetFollowers?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "API Price": "={{ $json[\"API Price\"] + ($input.all().length * 0.0026)}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색 해시태그",
              "displayName": "검색 해시태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 게시물 ",
              "displayName": "검색된 게시물 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 릴스",
              "displayName": "검색된 릴스",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 통과된 계정",
              "displayName": "조건 통과된 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "평균 조회수 6000이상 계정",
              "displayName": "평균 조회수 6000이상 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "API Price",
              "displayName": "API Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2160,
        416
      ],
      "id": "49578291-2b54-46bd-b345-4eaa60ac8f37",
      "name": "Update Row API Price_1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Time",
              "lookupValue": "={{ $('On form submission').all()[0].json.submittedAt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2384,
        416
      ],
      "id": "b17183c3-4c52-4556-9218-6eda4846621e",
      "name": "Get Row API Price_1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 인스타그램 계정의 BIO(자기소개 문구) [{{ $json.Bio }}]와 BusinessCategoryName[{{ $json.BusinessCategoryName }}]를 분석하여 해당 계정이 어떤 유형인지 분류하는 전문가입니다.\n\n입력으로 제공된 BIO 내용을 기반으로 다음 6가지 중 하나로 분류해 주세요:\n\n1) \"쇼핑몰 계정\"\n2) \"인플루언서 또는 크리에이터\"\n3) \"개인 계정\"\n4) \"콘텐츠 채널(유머, 연예, 뉴스, 정보 모음 계정)\"\n5) “뷰티 서비스 계정(샵 / 시술 / 교육 / 미용)”\n6) \"판별 불가\"\n\n판단 기준은 다음을 참고해 주세요:\n\n[쇼핑몰 계정 특징]\n- 의류, 패션, 악세사리, 잡화 등을 판매한다는 표현 포함\n- \"문의\", \"주문\", \"배송\", \"입금\", \"재고\", \"오픈\", \"입고\", \"CS\", \"카톡문의\", \"구매\", \"쇼핑몰\", \"마켓\" 등의 단어 포함\n- 링크가 쇼핑몰 주소 또는 마켓으로 연결됨\n- 브랜드명, 제품명 위주의 BIO\n\n[인플루언서/크리에이터 특징]\n- “모델”, “creator”, “influencer”, “유튜버”, “블로그”, “패션 크리에이터” 등 개인 브랜드 강조\n- 협찬 문의(“ad”, “collab”, “dm for collab” 등)\n- 쇼핑몰 운영 문구 없음\n- 개인 브랜딩 중심\n\n[개인 계정 특징]\n- 판매/협찬/홍보 관련 문구 없음\n- 일상·취미·프로필 설명 위주\n- BIO에 명확한 직업, 업종, 서비스, 판매 문구가 없이 단순히 \n  \"contact\", \"DM\", \"문의\", 이모지, 닉네임 형태로 구성된 경우에는 \n  개인 계정으로 분류한다.\n\n[콘텐츠 채널(유머/연예/뉴스/정보) 특징]\n- 개인 사진 없이 유머, 연예, 소식, 뉴스, 이슈, 정보 모음 등을 업로드\n- BIO에 \"유머\", \"웃긴\", \"밈\", \"연예\", \"핫이슈\", \"정보\", \"뉴스\", \"모음\", \"핫딜\" 등의 단어 포함\n- 판매 문구 없음\n- 브랜드 개인 브랜딩 문구 없음\n- 콘텐츠 큐레이션(편집/재업로드) 중심\n- 광고/협찬 문의가 있어도 쇼핑몰·인플루언서 문맥이 아니라 채널 운영 문맥인 경우\n- 게시물 스타일이 “모음/정보/편집 콘텐츠”\n- 예시 BIO:\n    \"연예&유머 모음\",\n    \"오늘의 핫이슈\",\n    \"신상 뉴스 요약\",\n    \"밈 저장소\",\n    \"연예인 소식 전해드려요\"\n  이런 계정은 개인 계정도, 인플루언서도 아님 → 콘텐츠 채널로 분류\n\n[뷰티 서비스 / 샵 / 시술 / 미용 관련 계정 특징]\n- 오프라인 또는 온라인 미용 서비스를 제공하는 계정\n(예: 속눈썹 연장샵, 네일샵, 메이크업샵, 왁싱샵, 피부관리샵, 헤어살롱 등)\n- BIO에 아래 단어들이 포함되면 서비스 기반 계정으로 분류한다:\n  “시술”, “수강”, “교육”, “레슨”, “샵”, “원장”, “전문샵”\n  “예약”, “예약문의”, “상담”, “1:1 맞춤”, “수강전문”\n  “속눈썹”, “네일”, “메이크업”, “왁싱”, “피부관리”\n  “미용인”, “전공”, “9년 경력”, “전문”\n- 판매 쇼핑몰이나 개인 브랜딩 목적과 다르게, 서비스 제공 / 예약 중심의 구조를 가진다.\n- 프로필 링크가 예약폼, 네이버예약, 카카오채널 등으로 연결될 수 있음.\n- 쇼핑몰 판매 계정과 다르게 상품 판매가 아니라 시술·교육·서비스 제공이 핵심\n- 인플루언서처럼 협찬 안내가 있는 것이 아니라 고객 예약 유도 문구가 중심\n- 이런 계정은 “쇼핑몰” 또는 “인플루언서”가 아니라, “뷰티 서비스 계정(beauty_service)” 으로 분류한다.\n\nBIO가 너무 짧거나 의미가 불명확한 경우에는 \"개인 계정\"으로 분류하고 이유를 설명해 주세요.\n\n링크가 쇼핑몰 주소 또는 마켓으로 연결되더라도 당신이 생각하기에 [인플루언서/크리에이터 특징]이 있다면 \"인플루언서 또는 크리에이터\"으로 분류해주세요.\n\nBusinessCategoryName ({{ $json.BusinessCategoryName }}) 에 다음 중 하나가 포함되면 쇼핑몰 또는 판매 계정으로 판단, 없다면 인플루언서/개인 계정으로 판단. :\n  \"Shopping & Retail\", \n  \"Shopping Mall\", \n  \"Retail Company\", \n  \"Retail Store\",\n  \"Clothing (Brand)\"\n\n**출력 중요 규칙**:\n- \"username\" 값은 반드시 {{ $json.Username }}으로 반환한다.\n- Bio 안에 포함된 이메일, 텍스트, 기호 등 어떤 내용도 username으로 사용하지 않는다.\n- \"username\"은 입력 JSON의 \"Username\" 필드 값 그대로 유지한다. 절대 수정하거나 다른 텍스트로 대체하지 않는다.\n- 특히, bio 안의 이메일 주소를 username으로 대체하는 실수를 절대 하지 말 것.\n- \"type\"은 반드시 \"shop\", \"influencer\", \"personal\", \"content_channel\", \"beauty_service, \"unknown\" 중에서 찾아서 출력할 것.\n\n출력은 반드시 아래 JSON 형식으로만 작성해 주세요:\n\n{\n  \"username\" : \"{{ $json.Username }}\",\n  \"followers\" : \"{{ $json.Followers }}\",\n  \"profileURL\" : \"{{ $json.ProfileURL }}\",\n  \"type\": \"shop | influencer | personal | content_channel | beauty_service | unknown\",\n  \"confidence\": \"high | medium | low\",\n  \"reason\": \"판단 근거를 짧게 서술\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2080,
        624
      ],
      "id": "f4888642-1494-48e5-b90a-138c6065639c",
      "name": "Check Influencer AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 사람의 외형을 분석하는 이미지 판별 전문가입니다.\n\n첨부된 이미지에서 사람의\n1) 성별(여성 / 남성 / 판별 불가)\n2) 나이대(10대 / 20대 / 30대 / 40대 / 50대 이상)\n3) 각 추정에 대한 확률 또는 확신 정도(예: 낮음, 중간, 높음)\n4) 얼굴이 보이지 않으면 gender를 unknown으로 답변\n\n위 기준을 기반으로 매우 신중하게 분석해 주세요.\n\n**이미지 품질이 낮거나 얼굴이 가려져 있으면 가능한 범위 안에서 보수적으로 추정해 주세요.**\n\n**만약 얼굴이 아예 보이지 않을경우에는 unknown으로 답변**/\n\n답변 형식은 아래 JSON 포맷을 반드시 지켜 주세요:\n\n{\n  \"username\" : \"{{ $json.username }}\",\n  \"gender\": \"female | male | unknown\",\n  \"gender_confidence\": \"high | medium | low\",\n  \"age_range\": \"20s | 30s | etc | unknown\",\n  \"age_confidence\": \"high | medium | low\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4016,
        656
      ],
      "id": "2d2ffcfd-66cb-45df-95dc-67067f7aa561",
      "name": "Check Female AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop over each input item\nfor (const item of $input.all()) {\n\n  // 1) AI output 문자열 가져오기\n  let raw = item.json.output;\n\n  // 2) ```json ... ``` 제거\n  raw = raw.replace(/```json/g, '')\n           .replace(/```/g, '')\n           .trim();\n\n  // 3) 안전한 JSON 파싱\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = {\n      username: \"unknown\",\n      type: \"unknown\",\n      confidence: \"low\",\n      reason: \"JSON parsing error: \" + e.message\n    };\n  }\n\n  // 4) item.json 구조에 필드 저장\n  item.json.username = parsed.username || \"unknown\";\n  item.json.followers = parsed.followers || \"unknown\";\n  item.json.profileURL = parsed.profileURL || \"unknown\";\n  item.json.type = parsed.type || \"unknown\";\n  item.json.confidence = parsed.confidence || \"unknown\";\n  item.json.reason = parsed.reason || \"no reason provided\";\n\n  // 5) 기존 output 제거\n  delete item.json.output;\n}\n\n// 6) 모든 item 리턴\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        624
      ],
      "id": "6b79e48f-f4e8-44f2-86df-64ca09dfb27b",
      "name": "Format Data_2"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n\n  // 1) error 필드가 존재하면 해당 아이템 제외\n  if (item.json?.error) {\n    continue;\n  }\n\n  // 2) output 이 없거나 문자열이 아니면 제외\n  if (typeof item.json?.output !== 'string') {\n    continue;\n  }\n\n  // 3) Raw output 가져오기\n  let raw = item.json.output;\n\n  // 4) replace() 실행 전 안전 체크\n  if (typeof raw !== 'string') {\n    continue; // 문자열이 아니면 제외\n  }\n\n  // ```json ... ``` 코드블록 제거\n  raw = raw.replace(/```json/g, '')\n           .replace(/```/g, '')\n           .trim();\n\n  // JSON 파싱\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = {\n      username: item.json.Username || \"unknown\",\n      gender: \"unknown\",\n      gender_confidence: \"unknown\",\n      age_range: \"unknown\",\n      age_confidence: \"unknown\",\n      reason: \"JSON parsing error: \" + e.message\n    };\n  }\n\n  // 기존 Username, ImageURL 유지\n  item.json.Username = parsed.username || item.json.Username || \"unknown\";\n  item.json.gender = parsed.gender || \"unknown\";\n  item.json.gender_confidence = parsed.gender_confidence || \"unknown\";\n  item.json.age_range = parsed.age_range || \"unknown\";\n  item.json.age_confidence = parsed.age_confidence || \"unknown\";\n\n  // output 필드는 제거\n  delete item.json.output;\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        656
      ],
      "id": "4c21dabf-b1e2-48a7-9fbc-c80bfcc86579",
      "name": "Format Data_1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33137f69-4fb4-4322-b2ee-5038693b7820",
              "leftValue": "={{ $json.type }}",
              "rightValue": "=shop",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4375dc63-984d-4702-83e8-36fd361a7808",
              "leftValue": "={{ $json.type }}",
              "rightValue": "content_channel",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4b57df4d-c858-42bc-8bde-83703b3994ee",
              "leftValue": "={{ $json.type }}",
              "rightValue": "beauty_service",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1536,
        624
      ],
      "id": "a9a449d7-6e4f-4400-b1a6-f4b6f0f443bc",
      "name": "Is Target Influencer?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $('On form submission').all()[0].json.submittedAt }}",
            "조건 통과된 계정": "={{ $input.all().length }}"
          },
          "matchingColumns": [
            "Time"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "검색 해시태그",
              "displayName": "검색 해시태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 게시물 ",
              "displayName": "검색된 게시물 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 릴스",
              "displayName": "검색된 릴스",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 통과된 계정",
              "displayName": "조건 통과된 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "평균 조회수 6000이상 계정",
              "displayName": "평균 조회수 6000이상 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "API Price",
              "displayName": "API Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        432
      ],
      "id": "2c835ece-b68f-4a47-bd7a-d3ba18f9d6b3",
      "name": "Update row Target Influencer",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst usernames = [];\n\nfor (const item of $input.all()) {\n  usernames.push(item.json.username);\n}\n\nreturn [\n  {\n    json: {\n      usernames: usernames\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        736
      ],
      "id": "85fc8587-8ee4-4ab0-ba6b-209cb3a8c721",
      "name": "Make UsernameArray_2"
    },
    {
      "parameters": {
        "jsCode": "// 입력 데이터\nconst items = $input.all();\n\n// Set 사용 → 자동으로 중복 제거\nconst usernameSet = new Set();\n\nfor (const item of items) {\n  const username = item.json.Username;\n  if (username) {\n    usernameSet.add(username);\n  }\n}\n\n// Set → Array 변환\nconst usernames = Array.from(usernameSet);\n\n// 출력 형식 유지\nreturn [\n  {\n    json: {\n      usernames: usernames\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        640
      ],
      "id": "190134eb-fc55-4fd6-a0eb-f007500a4226",
      "name": "Make UsernameArray_1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b68ef9f-a001-4dc1-89e1-30a20cc035bf",
              "name": "Username",
              "value": "={{ $json.ownerUsername }}",
              "type": "string"
            },
            {
              "id": "eb4b76cb-2635-4b7a-9214-e72e481cdae2",
              "name": "ViewCount",
              "value": "={{ $json.videoViewCount }}",
              "type": "number"
            },
            {
              "id": "e8ad461a-172b-427a-837f-a5cd53da1bac",
              "name": "PlayCount",
              "value": "={{ $json.videoPlayCount }}",
              "type": "number"
            },
            {
              "id": "0523846d-106e-44de-a41a-c8152d5c0d26",
              "name": "CommentCount",
              "value": "={{ $json.commentsCount }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        864
      ],
      "id": "8dcd9413-05d9-4aa6-bd4e-20c72e9b2cd0",
      "name": "Set Reels Scraper Data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Time",
              "lookupValue": "={{ $('On form submission').all()[0].json.submittedAt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        1056
      ],
      "id": "376bacf6-3833-4c37-adf6-128cfac5a242",
      "name": "Get Row API Price_2",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "API Price": "={{ $json[\"API Price\"] + ($input.all().length * 0.0026 + 0.006)}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색 해시태그",
              "displayName": "검색 해시태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 게시물 ",
              "displayName": "검색된 게시물 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 릴스",
              "displayName": "검색된 릴스",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 통과된 계정",
              "displayName": "조건 통과된 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "평균 조회수 6000이상 계정",
              "displayName": "평균 조회수 6000이상 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "API Price",
              "displayName": "API Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        1056
      ],
      "id": "9b667123-fd17-4a30-933c-41c3aebb654c",
      "name": "Update Row API Price_2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        752
      ],
      "id": "637adf38-da9f-4298-a2ee-d833ef3b0251",
      "name": "Merge Data (Username, ReelsData))"
    },
    {
      "parameters": {
        "jsCode": "// 입력 전체 데이터\nconst items = $input.all();\n\n// 첫 번째 아이템에서 username 목록 가져오기\nconst usernames = items[0].json.usernames;\n\n// 나머지 아이템들은 릴스 데이터\nconst reelData = items.slice(1).map(i => i.json);\n\n// username 기준으로 릴스 묶기\nconst grouped = {};\n\nfor (const username of usernames) {\n  grouped[username] = [];\n}\n\nfor (const reel of reelData) {\n  if (grouped[reel.Username]) {\n    grouped[reel.Username].push({\n      viewCount: reel.ViewCount,\n      playCount: reel.PlayCount,\n      commentCount: reel.CommentCount\n    });\n  }\n}\n\n// 결과 구성\nconst result = [];\n\nfor (const username of usernames) {\n  const reels = grouped[username];\n\n  result.push({\n    json: {\n      username,\n      hasReels: reels.length > 0,\n      reelCount: reels.length,\n      reels\n    }\n  });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        752
      ],
      "id": "533e1dc0-c4e4-4207-92bf-6a13b5574f2c",
      "name": "Matching Data From Username"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        624
      ],
      "id": "461e9ff1-bb16-41d0-b922-27ca5010d421",
      "name": "Merge Data (ProfileData, ReelsData)"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  results.push({\n    json: {\n      username: item.json.Username,\n      hashtag: item.json.Hashtag\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5488,
        16
      ],
      "id": "ad5a7f9e-6381-4a4a-9d24-17bdc30e9b55",
      "name": "Make DataArray"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        16
      ],
      "id": "518a2471-ff7e-432a-8764-ff5a33b5fd9e",
      "name": "Merge Data (HashTag, ReelsData)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1) hashtag만 있는 간단 리스트 저장\nconst hashtagMap = {};\nfor (const item of items) {\n  const d = item.json;\n  if (d.hashtag && Object.keys(d).length === 2) {\n    // username + hashtag만 있는 경우\n    hashtagMap[d.username] = d.hashtag;\n  }\n}\n\n// 2) 뒤쪽 데이터(해시태그 없는 상세 정보)에 hashtag 추가\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // followers 같은 상세 정보가 있는 데이터만 처리\n  if (!d.hashtag && d.followers) {\n\n    const username = d.username;\n    const hashtag = hashtagMap[username];\n\n    // hashtag 매칭 안되면 버림\n    if (!hashtag) continue;\n\n    // hashtag 삽입\n    d.hashtag = hashtag;\n\n    results.push({ json: d });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        16
      ],
      "id": "4def1a1a-538c-4114-94e4-37591fd52f15",
      "name": "Filter By Condition"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  const username = data.username;\n  const reels = data.reels || [];\n\n  // 추가 필드\n  const followers = data.followers;\n  const profileURL = data.profileURL;\n  const type = data.type;\n  const hashtag = data.hashtag;\n\n  // ViewCount 계산\n  const viewCounts = reels\n    .map(r => r.viewCount)\n    .filter(v => v !== null && v !== undefined);\n\n  const avgView =\n    viewCounts.length > 0\n      ? viewCounts.reduce((a, b) => a + b, 0) / viewCounts.length\n      : null;\n\n  // PlayCount 계산\n  const playCounts = reels\n    .map(r => r.playCount)\n    .filter(p => p !== null && p !== undefined);\n\n  const avgPlay =\n    playCounts.length > 0\n      ? playCounts.reduce((a, b) => a + b, 0) / playCounts.length\n      : null;\n\n  // CommentCount 계산\n  const commentCounts = reels\n    .map(r => r.commentCount)\n    .filter(v => v !== null && v !== undefined);\n\n  const avgComment =\n    commentCounts.length > 0\n      ? commentCounts.reduce((a, b) => a + b, 0) / commentCounts.length\n      : null;\n\n  const maxPlay = playCounts.length > 0 ? Math.max(...playCounts) : null;\n  const minPlay = playCounts.length > 0 ? Math.min(...playCounts) : null;\n  const maxComment = commentCounts.length > 0 ? Math.max(...commentCounts) : null;\n  const minComment = commentCounts.length > 0 ? Math.min(...commentCounts) : null;\n\n  // 결과 추가\n  result.push({\n    json: {\n      username,\n      followers,\n      profileURL,\n      type,\n      hashtag,\n\n      averageViewCount: avgView,\n      averagePlayCount: avgPlay,\n      avgCommentCount: avgComment,\n\n      maxPlayCount: maxPlay,\n      minPlayCount: minPlay,\n      maxCommentCount: maxComment,\n      minCommentCount: minComment\n    }\n  });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        16
      ],
      "id": "a3d39efc-f745-44a4-8402-a6c9815be4ca",
      "name": "Calculate Average"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e13318e8-c3f8-4a36-8bd4-5887191f8961",
              "leftValue": "={{ $json.averagePlayCount }}",
              "rightValue": 6000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        16
      ],
      "id": "11fe1905-1874-454b-9cc8-1843d088476d",
      "name": "Is Target ReelsAvg?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $('On form submission').all()[0].json.submittedAt }}",
            "평균 조회수 6000이상 계정": "={{ $input.all().length }}"
          },
          "matchingColumns": [
            "Time"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "검색 해시태그",
              "displayName": "검색 해시태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 게시물 ",
              "displayName": "검색된 게시물 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 릴스",
              "displayName": "검색된 릴스",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 통과된 계정",
              "displayName": "조건 통과된 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "평균 조회수 6000이상 계정",
              "displayName": "평균 조회수 6000이상 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "API Price",
              "displayName": "API Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        208
      ],
      "id": "a868ab94-f197-421d-9a07-bf1a79e7190f",
      "name": "Update row in Hashtag Data",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Vux-NDgiQ1OEfAoZANbkImw_DDVnqpzqZrhB8ABjEiY/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vux-NDgiQ1OEfAoZANbkImw_DDVnqpzqZrhB8ABjEiY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "해시 태그": "--",
            "사용자 ID": "--",
            "팔로워 수": "--",
            "링크": "--",
            "타입": "--",
            "최소 View": "--",
            "최대 View": "--",
            "평균 View": "--",
            "최소 Comments": "--",
            "최대 Commnets": "--",
            "평균 Commnets": "--"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "해시 태그",
              "displayName": "해시 태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "사용자 ID",
              "displayName": "사용자 ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "팔로워 수",
              "displayName": "팔로워 수",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "링크",
              "displayName": "링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "타입",
              "displayName": "타입",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "최소 View",
              "displayName": "최소 View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "최대 View",
              "displayName": "최대 View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "평균 View",
              "displayName": "평균 View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "최소 Comments",
              "displayName": "최소 Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "최대 Commnets",
              "displayName": "최대 Commnets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "평균 Commnets",
              "displayName": "평균 Commnets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        0
      ],
      "id": "4bb7c724-56d5-4f58-81e5-8415071bc970",
      "name": "Append Row In Influencer Sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Isn2z9duv7UXzATf",
          "name": "Google Sheets Juunnmmoo"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/dSCLg0C3YEZ83HzYX/input",
          "mode": "url"
        },
        "customBody": "={\n    \"includeAboutSection\": false,\n    \"usernames\": {{ JSON.stringify($json.usernames) }}\n} \n\n"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -2848,
        640
      ],
      "id": "00224750-180a-4962-bb10-d538320e1701",
      "name": "Apify Profile Scraper",
      "credentials": {
        "apifyApi": {
          "id": "83mR9AWldlWlzuHK",
          "name": "Apify account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/xMc5Ga1oCONPmWJIa/input",
          "mode": "url"
        },
        "customBody": "={\n    \"includeSharesCount\": false,\n    \"resultsLimit\": 5,\n    \"skipPinnedPosts\": true,\n    \"username\": {{ JSON.stringify($json.usernames) }}\n    \n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -1056,
        864
      ],
      "id": "5c02173d-4aa4-4867-8a99-12f73c07cbe4",
      "name": "Apify Reels Scraper",
      "credentials": {
        "apifyApi": {
          "id": "83mR9AWldlWlzuHK",
          "name": "Apify account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/reGe1ST3OBgYZSsZJ/input",
          "mode": "url"
        },
        "customBody": "={\n    \"hashtags\": [\"{{ $json.Hashtag }}\"],\n    \"resultsLimit\": 30,\n    \"resultsType\": \"reels\",\n    \"proxyRotation\": \"recommended\",\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\"RESIDENTIAL\"],\n    \"apifyProxyCountry\": \"US\",\n    \"extendScraperFunction\": \"async ({ page }) => { for (let i = 0; i < 40; i++) { await page.evaluate(() => window.scrollBy(0, window.innerHeight)); await page.waitForTimeout(1000); } }\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -6096,
        672
      ],
      "id": "e2327f3f-8fbe-44d3-84a3-3b682a46f467",
      "name": "Apify Hashtag Scraper1",
      "credentials": {
        "apifyApi": {
          "id": "83mR9AWldlWlzuHK",
          "name": "Apify account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0a4375d-7fa6-47f1-87d6-ab8dbbbe9753",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Video",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5680,
        672
      ],
      "id": "326e378c-3d3b-4611-bc1e-887e064486f6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RGI9yH-RmpH4aMLMnae-Q_s0xWF0GHc3Y2wMjbXEXDQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_r5oHR2wY_mzpVxJysbM29cJa4wRxesyxsjri03iwk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "조건 팔로워": "={{ $json.MinFollower }} ~ {{ $json.MaxFollower }}",
            "Time": "={{ $json.submittedAt }}",
            "검색 해시태그": "={{ $json.Hashtag }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "검색 해시태그",
              "displayName": "검색 해시태그",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "조건 팔로워",
              "displayName": "조건 팔로워",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "검색된 게시물 ",
              "displayName": "검색된 게시물 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "검색된 릴스",
              "displayName": "검색된 릴스",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "조건 통과된 계정",
              "displayName": "조건 통과된 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "평균 조회수 6000이상 계정",
              "displayName": "평균 조회수 6000이상 계정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "API Price",
              "displayName": "API Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6112,
        336
      ],
      "id": "7a96f09c-1253-47b3-b571-39c233e90863",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FqMxRFWupS3x9xVz",
          "name": "GoogleSheets n8n-Google-Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 입력 데이터\nconst items = $input.all();\n\n// Set 사용 → 자동으로 중복 제거\nconst usernameSet = new Set();\n\nfor (const item of items) {\n  const username = item.json.Username;\n  if (username) {\n    usernameSet.add(username);\n  }\n}\n\n// Set → Array 변환\nconst usernames = Array.from(usernameSet);\n\n// 출력 형식 유지\nreturn [\n  {\n    json: {\n      usernames: usernames\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5360,
        848
      ],
      "id": "90c88f86-a2ba-4dcd-8243-89bddc37ce22",
      "name": "Make UsernameArray_"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49650bfa-4975-4783-95f1-05ceb0f8bf9e",
              "name": "Username",
              "value": "={{ $json['계정'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5008,
        848
      ],
      "id": "351ac6fa-c744-449d-9671-c483974c180e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1PZVDtznMxK0nO13tBBkoHTHEvGuNmsHpn8KAIKf8DYo",
          "mode": "list",
          "cachedResultName": "리웨이크 와우 포인트 영업 리스트",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZVDtznMxK0nO13tBBkoHTHEvGuNmsHpn8KAIKf8DYo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1338341017,
          "mode": "list",
          "cachedResultName": "인플루언서",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZVDtznMxK0nO13tBBkoHTHEvGuNmsHpn8KAIKf8DYo/edit#gid=1338341017"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "채널",
              "lookupValue": "인스타"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5184,
        848
      ],
      "id": "0a461602-7b2d-487e-89ff-2a3ea020a3db",
      "name": "Get Found Usernames2",
      "credentials": {
        "googleApi": {
          "id": "nj7bhQ9T4ixRw7c7",
          "name": "Google Sheets Soonicorn_API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 입력 데이터\nconst items = $input.all();\n\n// Set 사용 → 자동으로 중복 제거\nconst usernameSet = new Set();\n\nfor (const item of items) {\n  const username = item.json.Username;\n  if (username) {\n    usernameSet.add(username);\n  }\n}\n\n// Set → Array 변환\nconst usernames = Array.from(usernameSet);\n\n// 출력 형식 유지\nreturn [\n  {\n    json: {\n      usernames: usernames\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4864,
        848
      ],
      "id": "480c03c9-d85f-4888-b689-748af9a1079e",
      "name": "Make Found UsernameArray1"
    },
    {
      "parameters": {
        "jsCode": "// Insta: 이중 배열 → 1차 배열로 평탄화\nconst insta = $('Make UsernameArray_').all()\n  .flatMap(i => i.json.usernames);\n\n// Sheet: 이중 배열 → 1차 배열로 평탄화\nconst sheet = $('Make Found UsernameArray1').all()\n  .flatMap(i => i.json.usernames);\n\n// Google Sheet username Set 구성\nconst sheetSet = new Set(sheet);\n\n// Sheets에 없는 insta username만 필터링\nconst filtered = insta.filter(u => !sheetSet.has(u));\n\n// 최종 결과 (원하는 형태)\nreturn [\n  {\n    json: {\n      usernames: filtered\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4704,
        848
      ],
      "id": "b1f9aa90-6887-42d5-82a0-34162a483bb9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Node A usernames 가져오기\nconst usernames = $('Code in JavaScript1').first().json.usernames;\n\n// Node B Instagram 데이터 가져오기\nconst instaItems = $('Set Hashtag Scraper Data').all();\n\n// Node B에서 username -> 첫 ImageURL 매핑\nconst imageMap = new Map();\n\nfor (const item of instaItems) {\n  const u = item.json.Username;\n  const url = item.json.ImageURL;\n\n  if (!imageMap.has(u)) {\n    imageMap.set(u, url);  // 첫 번째 ImageURL만 저장\n  }\n}\n\n// Node A의 username 목록 기준으로 결과 정렬\nconst result = usernames.map(username => ({\n  json: {\n    Username,\n    ImageURL: imageMap.get(username) || null // 없으면 null\n  }\n}));\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4528,
        848
      ],
      "id": "6257414d-de0d-47c3-9a9f-95b1d735f373",
      "name": "Code in JavaScript2"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Apify Hashtag Scraper1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Check Female AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Check Female AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Check Influencer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Check Influencer AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Append Row In Influencer Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Hashtag Scraper Data": {
      "main": [
        [
          {
            "node": "Append Row HashtagCategory_1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Make DataArray",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change ImageURL To Image": {
      "main": [
        [
          {
            "node": "Check Female AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Female TargetAge?": {
      "main": [
        [
          {
            "node": "Make UsernameArray_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Profile Scraper Data": {
      "main": [
        [
          {
            "node": "Is TargetFollowers?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Row API Price_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is TargetFollowers?": {
      "main": [
        [
          {
            "node": "Check Influencer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row API Price_1": {
      "main": [
        [
          {
            "node": "Update Row API Price_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Influencer AI Agent": {
      "main": [
        [
          {
            "node": "Format Data_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Female AI Agent": {
      "main": [
        [
          {
            "node": "Format Data_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data_2": {
      "main": [
        [
          {
            "node": "Is Target Influencer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data_1": {
      "main": [
        [
          {
            "node": "Is Female TargetAge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Target Influencer?": {
      "main": [
        [
          {
            "node": "Make UsernameArray_2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data (ProfileData, ReelsData)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row Target Influencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make UsernameArray_2": {
      "main": [
        [
          {
            "node": "Merge Data (Username, ReelsData))",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify Reels Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make UsernameArray_1": {
      "main": [
        [
          {
            "node": "Apify Profile Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Reels Scraper Data": {
      "main": [
        [
          {
            "node": "Merge Data (Username, ReelsData))",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get Row API Price_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row API Price_2": {
      "main": [
        [
          {
            "node": "Update Row API Price_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data (Username, ReelsData))": {
      "main": [
        [
          {
            "node": "Matching Data From Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matching Data From Username": {
      "main": [
        [
          {
            "node": "Merge Data (ProfileData, ReelsData)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data (ProfileData, ReelsData)": {
      "main": [
        [
          {
            "node": "Merge Data (HashTag, ReelsData)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Make DataArray": {
      "main": [
        [
          {
            "node": "Merge Data (HashTag, ReelsData)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data (HashTag, ReelsData)": {
      "main": [
        [
          {
            "node": "Filter By Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter By Condition": {
      "main": [
        [
          {
            "node": "Calculate Average",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Average": {
      "main": [
        [
          {
            "node": "Is Target ReelsAvg?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Target ReelsAvg?": {
      "main": [
        [
          {
            "node": "Update row in Hashtag Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Profile Scraper": {
      "main": [
        [
          {
            "node": "Set Profile Scraper Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Reels Scraper": {
      "main": [
        [
          {
            "node": "Set Reels Scraper Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Hashtag Scraper1": {
      "main": [
        [
          {
            "node": "Set Hashtag Scraper Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append Row HashtagCategory_2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Make UsernameArray_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make UsernameArray_": {
      "main": [
        [
          {
            "node": "Get Found Usernames2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Make Found UsernameArray1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Found Usernames2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Found UsernameArray1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Change ImageURL To Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": [],
  "versionId": "4f4edc15-7381-41c0-98d0-31822846aaf3"
}