My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Brand Name",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Brand Name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        -32
      ],
      "id": "1699a07a-b73d-4578-995a-b52a6879fe48",
      "name": "Input BrandName",
      "webhookId": "0aea1226-2a53-4b4b-9f27-b4d6b24e565e"
    },
    {
      "parameters": {
        "url": "http://192.168.1.10:7777/api/products/by-brand",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={ \"brand\": \"{{ $json['Brand Name'] }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -32
      ],
      "id": "80b89ddd-75bc-4413-bb4b-4386ef48a1f9",
      "name": "Get ProductID API"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// data 배열만 추출\nconst dataList = item.data || [];\n\nreturn dataList.map(id => ({\n  json: {\n    ProductID: id\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -32
      ],
      "id": "f8045a14-66b1-4455-a0bd-4700cf31f2c6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 입력 필드 이름만 변경해서 사용하세요.\nconst ThumbNailImage = $input.first().json.data.thumbNailImageBase64;\nconst SubImage = $input.first().json.data.subImageSumImage;   // ← 여기에 필드명 지정\n\nlet ThumbNailImageBase64 = null;\nlet SubImageBase64 = null;\n// 문자열인지 체크\nif (typeof ThumbNailImage === \"string\" && ThumbNailImage.includes(\",\")) {\n  ThumbNailImageBase64 = ThumbNailImage.split(\",\")[1];\n}\n\nif (typeof SubImage === \"string\" && SubImage.includes(\",\")) {\n  SubImageBase64 = SubImage.split(\",\")[1];\n}\n\nreturn [\n  {\n    json: {\n      ThumbNailImageBase64: ThumbNailImageBase64,\n      SubImageBase64: SubImageBase64\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -32
      ],
      "id": "2f0d9f2b-ec72-44c7-b8dd-38c8cb85c058",
      "name": "Make Pure Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:7777/api/products/images",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"productId\": \"{{ $json.ProductID }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        -32
      ],
      "id": "4cd5d3c9-876e-4ff0-aea4-71917f1b8552",
      "name": "Get ImageData API"
    }
  ],
  "connections": {
    "Input BrandName": {
      "main": [
        [
          {
            "node": "Get ProductID API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ProductID API": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Get ImageData API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ImageData API": {
      "main": [
        [
          {
            "node": "Make Pure Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "pinData": {},
  "tags": [],
  "versionId": "955b2c2c-8e75-41ae-b613-f3c5ff11a216"
}